# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
NEBo_Configuration_Management/node_modules
NEBo_Configuration_Management/.pnp
NEBo_Configuration_Management.pnp.js

# testing
NEBo_Configuration_Management/coverage

# production
NEBo_Configuration_Management/build

# misc
NEBo_Configuration_Management/.DS_Store
NEBo_Configuration_Management/.env.local
NEBo_Configuration_Management/.env.development.local
NEBo_Configuration_Management/.env.test.local
NEBo_Configuration_Management/.env.production.local

NEBo_Configuration_Management/npm-debug.log*
NEBo_Configuration_Management/yarn-debug.log*
NEBo_Configuration_Management/yarn-error.log*


